table{
    display: flex;
    float: left;
    justify-self: left;
    flex-direction: column;
    color: white;
    border: white;
    border:1;
}

table td {
    text-align: left;
    font-size: 20px;
    padding: 5px;
}

.picture{
    display: flex;
    justify-content: space-around;
    
}

