 <div class="menu_container">
        <div class="header-item">
            <a href="/homePage" >
                <img id="logo"  src="/css/hostLogo.png"/>
            </a>
            <aside style="font-size: 45px; position: relative; margin: 5px;"> An Excellent Host</aside>
            <aside style="font-size: 20px; position: relative; margin: 18px;"> Image Hosting Service</aside>
        </div>

        <div class="menu_item">
            <nav>
                <ul>
                    <li>
                        <a href="/homePage">Home</a>
                    </li>
                    <li>
                        <a href="/account">Account</a>
                    </li>
                    <li>
                        <a href="/createAccount">Create Account</a>
                    </li>
                    <li>
                        <a href="/about">About/Contact</a>
                    </li>
                    <li>
                        <a href="/userGetIn">Login</a>
                    </li>
                     <li>
                        <a href="/logout">Log Out</a>
                    </li>
                     <li>
                        <a href="/uploadImage">Upload</a>
                    </li>                    
                </ul>
            </nav>
        </div>
    </div>