 <div class="menu_container">
        <div class="header-item">
            <a href="/home" >
                <img id="logo"  src="/css/hostLogo.png"/>
            </a>
            <aside style="font-size: 45px; position: relative; margin: 5px;"> An Excellent Host</aside>
            <aside style="font-size: 20px; position: relative; margin: 18px;"> Image Hosting Service</aside>
        </div>

        <div class="menu_item">
            <nav>
                <ul>
                    <li>		<!-- What is the best order for buttons? The world may never know. -->
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/account">Account</a>
                    </li>
                     <li>
                        <a href="/upload">Upload</a>
                    </li>   
                    <li>
                        <a href="/create_account">Create Account</a>
                    </li>
                    <li>
                        <a href="/enter">Login</a>
                    </li>
                     <li>
                        <a href="/logout">Log Out</a>
                    </li>

                    <li>
                        <a href="/about">About/Contact</a>
                    </li>                 
                </ul>
            </nav>
        </div>
    </div>